{% extends 'base.html' %}

{% block content %}
{% load static %}
        <!-- Portfolio Section-->
        <section class="masthead page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Mentions Légales</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fa-solid fa-bone"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <div class="col-8">
                        <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs, ci-après l""Utilisateur", du site osteocotentin.fr , ci-après le "Site", les présentes mentions légales.</p>
                        <p>La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales</p>
                        <p>Ces dernières sont accessibles sur le Site à la rubrique « Mentions légales ».</p>
                        <h4>ARTICLE 1 - L'EDITEUR</h4>
                        <p>L’édition et la direction de la publication du Site est assurée par Jinr0h404, domiciliée en Normandie, dont le numéro de téléphone est 06xxxxxxxx, et l'adresse e-mail: admin@siteosteo.com.</p>
                        <p>ci-après l'"Editeur".</p>
                        <h4>ARTICLE 2 - PUBLICATION</h4>
                        <p>Le directeur de publication est Mme A VENIR, dont le numéro de téléphone est 06xxxxxxxx, et l'adresse e-mail: AVENIR@siteosteo.com. </p>
                        <p></p>
                        <h4>ARTICLE 3 - L'HEBERGEUR</h4>
                        <p>L'hébergeur du Site est la société Scaleway, dont le siège social est situé au Scaleway SAS - BP 438 - 75366 Paris CEDEX 08 , avec le numéro de téléphone : 0184130000 + adresse mail de contact</p>
                        <h4>ARTICLE 4 - ACCES AU SITE</h4>
                        <p>Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découler d’une nécessité de maintenance.</p>
                        <p>En cas de modification, interruption ou suspension du Site, l'Editeur ne saurait être tenu responsable.</p>
                        <h4>ARTICLE 5 - COLLECTE DES DONNEES</h4>
                        <p>Le Site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. </p>
                        <p>En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit :</p>
                        <p>· via un formulaire de contact ;</p>
                        <p>Mentions légales générées par http://legalplace.fr</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8">
                        <h4>TECHNOLOGIES</h4>
                        <p>Plusieurs outils et ressources ont été utilisés pour la production de ce site</p>
                        <ul>
                            <li>Django</li>
                            <li>Bootstrap, et le thème Freelance sous licence MIT créé par <a href="https://startbootstrap.com/Start">Start Bootstrap</a></li>
                            <li>Banque d'images libres de droits sur <a href="https://pixabay.com/fr/">pixabay</a></li>
                            <li>Icônes par <a href="https://fontawesome.com/">Font Awesome</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}