{% extends 'base_admin.html' %}

{% block content %}
{% load static %}
<!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="{% static 'assets/img/avataaars.svg' %}" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">patient</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fa-solid fa-bone"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Gérer vos patients</p>
            </div>
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Actions</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fa-solid fa-bone"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Item 1-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><h2>Ajout Patient</h2></div>
                            </div>
                            <img class="img-fluid" src="{% static 'assets/img/portfolio/cabin.png' %}" alt="..." />
                        </div>
                    </div>
                    <!-- Portfolio Item 2-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><h2>Gestion Patient</h2></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'assets/img/portfolio/cake.png' %}" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
{% block portfolioOpen %}
<!-- Portfolio Modals-->
        <!-- Portfolio Modal 1-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-12">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Nouveau patient</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fa-solid fa-bone"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Contact Section Form-->
                                    <div class="row justify-content-center">
                                        <div class="col-lg-6">
                                            <form id="createPatientForm" method="post">
                                                {% csrf_token %}
                                                <!-- Last Name input-->
                                                <div class="form-floating mb-3 form-group">
                                                    <input class="form-control" id="last_name" name="last_name" type="text" placeholder="Enter your lastname" />
                                                    <label for="last_name">Nom</label>
                                                </div>
                                                <!-- First Name input-->
                                                <div class="form-floating mb-3 form-group">
                                                    <input class="form-control" id="first_name" name="first_name" type="text" placeholder="Enter your firstname" />
                                                    <label for="first_name">Prénom</label>
                                                </div>
                                                <!-- Email address input-->
                                                <div class="form-floating mb-3 form-group">
                                                    <input class="form-control" id="mail" name="mail" type="email" placeholder="name@example.com" />
                                                    <label for="mail">Email</label>
                                                </div>
                                                <!-- birthday-->
                                                <div class="form-floating mb-3 form-group">
                                                    <input class="form-control" id="birth_date" name="birth_date" type="date" placeholder="Enter your birthday" />
                                                    <label for="birth_date">Date de naissance</label>
                                                </div>
                                                <!-- Phone number input-->
                                                <div class="form-floating mb-3 form-group">
                                                    <input class="form-control" id="phone" name="phone" type="tel" placeholder="phone number" />
                                                    <label for="phone">Numéro de téléphone</label>
                                                    <div class="invalid-feedback">Valeur incorrecte</div>
                                                </div>
                                                <!-- Medical device input-->
                                                <div class="form-floating mb-3 form-group">
                                                    <textarea class="form-control" id="medical_device" name="medical_device" type="text" placeholder="pacemaker..." style="height: 10rem" ></textarea>
                                                    <label for="medical_device">Dispositif médicale</label>
                                                </div>
                                                <!-- Submit success message-->
                                        </div>

                                        <div class="col-lg-6">
                                                <!-- Job-->
                                                <div class="form-floating mb-3 form-group">
                                                    <input class="form-control" id="job" name="job" type="text" placeholder="situation professionnelle" />
                                                    <label for="job">Profession</label>
                                                </div>
                                                <!-- drug input-->
                                                <div class="form-floating mb-3 form-group">
                                                    <input class="form-control" id="drug" name="drug" type="text" placeholder="traitements" />
                                                    <label for="drug">Traitement en cours</label>
                                                </div>
                                                <!-- Pathology input-->
                                                <div class="form-floating mb-3 form-group">
                                                    <textarea class="form-control" id="pathology" name="pathology" type="text" placeholder="antécédants médicaux..." style="height: 10rem" ></textarea>
                                                    <label for="pathology">Antécédants médicaux chirurgicaux</label>
                                                </div>
                                                <!-- Comment input-->
                                                <div class="form-floating mb-3 form-group">
                                                    <textarea class="form-control" id="comment" name="comment" type="text" placeholder="Commentaire..." style="height: 10rem" ></textarea>
                                                    <label for="comment">Commentaire</label>
                                                </div>
                                            </div>
                                        <!-- Glasses input-->
                                        <div class="row justify-content-start">
                                            <div class="form-group">
                                                <div class="form-check col-4 text-left ">
                                                    <label class="form-check-label text-left" for="glasses">Dispositif correctif de vision</label>
                                                    <input class="form-check-input" type="checkbox" name="glasses" id="glasses">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                        <div class="col-lg-6">
                                                <!-- Address street number-->
                                                <div class="form-floating mb-3 form-group">
                                                    <input class="form-control" id="street_number" name="street_number" type="text" placeholder="Enter your lastname" />
                                                    <label for="street_number">Numéro de rue</label>
                                                </div>
                                                <!-- Address street name-->
                                                <div class="form-floating mb-3 form-group">
                                                    <input class="form-control" id="street" name="street" type="text" placeholder="Enter your firstname" />
                                                    <label for="street">Nom de la rue</label>
                                                </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- Zip_code-->
                                                <div class="form-floating mb-3 form-group">
                                                    <input class="form-control" id="zip_code" name="zip_code" type="text" placeholder="Enter your lastname" />
                                                    <label for="zip_code">Code postal</label>
                                                </div>
                                                <!-- city-->
                                                <div class="form-floating mb-3 form-group">
                                                    <input class="form-control" id="city" name="city" type="text" placeholder="Enter your firstname" />
                                                    <label for="city">Ville</label>
                                                </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-lg-12 col-xl-3">
                                                <!-- Submit Button-->
                                                <div class="form-actions">
                                                    <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Créer</button>
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Portfolio Modal 2-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-12">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Gestion des patients</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-bone"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-lg-6">
                                            <form class="form_search" action="{% url 'search'%}" method="get" accept-charset="utf-8">
                                                <div class="form-group div_form_search">
                                                    <input id="searchForm" class="form-control" placeholder="Nom de patient" name="query">
                                                </div>
                                                <!-- Submit Button-->
                                                <div class="form-actions">
                                                    <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Chercher</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-lg-6">
                                            <form class="form_search" action="{% url 'search'%}" method="get" accept-charset="utf-8">
                                                <div class="form-group div_form_search">
                                                    <p>Afficher la liste de tous les patients</p>
                                                </div>
                                                <!-- Submit Button-->
                                                <div class="form-actions">
                                                    <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Afficher</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block script_content %}
<script type="text/javascript"></script>
{% endblock %}