{% extends 'base_admin.html' %}

{% block content %}
{% load static %}
<!-- Masthead-->
        <header class="masthead bg-primary text-white">
            <div class="container">
                <div class="row">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0 text-center">patient</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fa-solid fa-bone"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                </div>
                <!-- Masthead Subheading-->
                <div class="row ">
                    <div class="col-lg-6">
                        <p class="masthead-subheading font-weight-light mb-0 text-left">Nom: {{ patient.last_name }}</p>
                        <p class="masthead-subheading font-weight-light mb-0 text-left">Prénom: {{ patient.first_name }}</p>
                        <p class="masthead-subheading font-weight-light mb-0 text-left">Né le: {{ patient.birth_date }}</p>
                        <p class="masthead-subheading font-weight-light mb-0 text-left">N° de tel: {{ patient.phone }}</p>
                        <p class="masthead-subheading font-weight-light mb-0 text-left">Mail: {{ patient.mail }}</p>
                    </div>
                    <div class="col-lg-6">
                        <p class="masthead-subheading font-weight-light mb-0">Profession: {{ patient.job }}</p>
                        <p class="masthead-subheading font-weight-light mb-0">Antécédant médicaux: {{ patient.pathology }}</p>
                        <p class="masthead-subheading font-weight-light mb-0">Dispositif médical: {{ patient.medical_device }}</p>
                        <p class="masthead-subheading font-weight-light mb-0">Lunette ou lentille: {{ patient.glasses }}</p>
                        <p class="masthead-subheading font-weight-light mb-0">Traitement en cours: {{ patient.drug }}</p>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}

{% block script_content %}
<script type="text/javascript">
{% endblock %}