{% extends 'base_admin.html' %}

{% block content %}
{% load static %}
<!-- Masthead-->
        <header class="masthead bg-primary text-white">
            <div class="container">
                <div class="row">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0 text-center">patient</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fa-solid fa-bone"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                </div>
                <!-- Masthead Subheading-->
                {% if patient %}
                <div class="row ">
                    <div class="col-lg-6">
                            {% for pat in patient %}
                                <a href="{% url 'patient' pk=pat.pk %}">
                                    <h3 class="lead text-white">{{ pat.last_name }} {{ pat.first_name }} né le {{ pat.birth_date }}</h3>
                                </a>
                            {% endfor %}
                    </div>
                    </div>
                {% endif %}
                    {% if not patient %}
                            <div class="row patient_not_found text-center">
                                <h3 class="lead text-white patient_not_found">Désolé, Vous n'avez aucun patient de ce nom ou prénom</h3>
                            </div>
                    {% endif %}
                <div class="row">
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1" class="paginate">&laquo; première</a>
                                <a href="?page={{ page_obj.previous_page_number }}" class="paginate">précédente</a>
                            {% endif %}
                        <span class="current">
                            Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
                        </span>
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}" class="paginate">suivante</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}" class="paginate">dernière &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}

{% block script_content %}
<script type="text/javascript"></script>
{% endblock %}