{% extends 'base_admin.html' %}

{% block content %}
{% load static %}
<!-- Masthead-->
        <header class="masthead bg-primary text-white">
            <div class="container">
                <div class="row">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0 text-center">Consulatation du {{ session.appointment_date }}</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fa-solid fa-bone"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                </div>
                <!-- Masthead Subheading-->
                <div class="row">
                    <div class="col-lg-6">
                        <p class="masthead-subheading font-weight-light mb-0 text-left"><strong>Motif:</strong> {{ session.reason }}</p>
                        <p class="masthead-subheading font-weight-light mb-0 text-left"><strong>HDM:</strong> {{ session.disease_history }}</p>
                        <div class="row ">
                            <div class="col-lg-6">
                                <p class="masthead-subheading font-weight-light mb-0 text-left"><strong>Test:</strong> {{ session.test }}</p>
                            </div>
                            <div class="col-lg-6">
                                <p class="masthead-subheading font-weight-light mb-0 text-left"><strong>Traitement:</strong> {{ session.action_summary }}</p>
                            </div>
                        </div>
                        <p class="masthead-subheading font-weight-light mb-0 text-left"><strong>Commentaire:</strong> {{ session.comment }}</p>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-3">
                        <a href="{% url 'create-session-bill' session.id %}" ><button class="btn btn-primary btn-xl btn-outline-light" id="submitButton" type="submit" name={{session.id}}>Facture</button></a>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}

{% block script_content %}
<script type="text/javascript"></script>
{% endblock %}