{% extends 'base_admin.html' %}
{% load static %}
{% block content %}
{% load static %}
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="planning">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Planning</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fa-solid fa-bone"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
            </div>
            <div>
                <form id="deleteScheduleForm" method="POST">
                    {% csrf_token%}
                    <p>Voulez-vous supprimer le rendez-vous du {{planning.appointment_date_start}}
                    <input type="submit" value="Supprimer" />
                </form>
            </div>
        </section>
{% endblock %}